<link rel="stylesheet" href="/css/sign-in-sign-up.css">
<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<div class="col-md-12">
				<h3 class="breadcrumb-header">Sign In Page</h3>
				<ul class="breadcrumb-tree">
					<li><a href="#">Account</a></li>
					<li class="active">Sign In</li>
				</ul>
			</div>
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /BREADCRUMB -->

<div class="wrapper">
	<div class="inner">
		<div class="image-holder">
			<img src="/img/registration-form-1.jpg" alt="">
		</div>
		<form method="POST">
			<h3>SIGN IN</h3>
			<div class="form-wrapper">
				<input type="text" placeholder="Username" class="form-control" name="username">
				<i class="zmdi zmdi-account"></i>
			</div>
			<div class="form-wrapper">
				<input type="password" placeholder="Password" class="form-control" name="password">
				<i class="zmdi zmdi-lock"></i>
			</div>
			<button type="submit">Sign In
				<i class="zmdi zmdi-arrow-right"></i>
			</button>
		</form>
	</div>
</div>