<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Add Product</title>
  <link rel="stylesheet" <link rel="stylesheet" href="/css/addProduct.css">
</head>

<body>
  <div class="wrapper">
    <div class="inner">
      <form id="formSignUp" action="/products/add" method="POST" enctype="multipart/form-data">
        <h3>INFORMATION</h3>
        <div class="form-wrapper">
          <input type="text" placeholder="Product Name" name="name" id="name" class="form-control" required>
        </div>
        <div class="form-wrapper">
          <select id="category" name="category" class="form-control" required>
            <option value="" disabled selected>Category</option>
            {{#each this.catList}}
            <option value={{id}}>{{name}}</option>
            {{/each}}
          </select>
        </div>
        <div class="form-wrapper form-group">
          <input type="number" placeholder="Starting Price" id="startPrice" name="currentPrice"
            class="price form-control" required>
          <select class="currency form-control">
            <option value="VND" selected>VND</option>
          </select>
          <i class="zmdi zmdi-lock"></i>
        </div>
        <div class="form-wrapper form-group">
          <input type="number" placeholder="Buy Now Price" id="buynowPrice" name="buynowPrice"
            class="price form-control" required>
          <select class="currency form-control">
            <option value="VND" selected>VND</option>
          </select>
          <i class="zmdi zmdi-lock"></i>
        </div>
        <div class="form-wrapper form-group">
          <input type="number" placeholder="Step" id="bidStep" name="bidStep" class="price form-control" required>
          <select class="currency form-control">
            <option value="VND" selected>VND</option>
          </select>
          <i class="zmdi zmdi-lock"></i>
        </div>
        <div class="form-wrapper">
          <input type="datetime-local" placeholder="Product Name" name="endDate" id="endDate" class="form-control"
            required>
        </div>
        <h3 class="title">IMAGE UPLOAD</h3>
        <div class="form-wrapper">
          <div class="form-horizontal">
            <div class="form-group">
              <div class="col-md-12">
                <div class="row">
                  <div id="imagePicker"></div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3"></label>
            </div>
          </div>
        </div>
        <h3 class="title">DETAIL</h3>
        <textarea id="tinyEditor" name="details"></textarea>
        <button id="btnSubmit" type="submit">Add Product</button>
      </form>
      <span id="msg"></span>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.js"
    integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  <script src="/vendor/spartan-multi-image-picker-min.js"></script>
  <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
  <script src="/js/addProduct.js"></script>
</body>

</html>