<link rel="stylesheet" href="css/sign-in-sign-up.css">
<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<div class="col-md-12">
				<h3 class="breadcrumb-header">Sign Up Page</h3>
				<ul class="breadcrumb-tree">
					<li><a href="#">Account</a></li>
					<li class="active">Sign Up</li>
				</ul>
			</div>
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /BREADCRUMB -->

<div class="wrapper" style="background-image: url('img/bg-registration-form-1.jpg');">
	<div class="inner">
		<div class="image-holder">
			<img src="img/registration-form-1.jpg" alt="">
		</div>
		<form action="">
			<h3>SIGN UP</h3>
			<div class="form-group">
				<input type="text" placeholder="First Name" class="form-control">
				<input type="text" placeholder="Last Name" class="form-control">
			</div>
			<div class="form-wrapper">
				<input type="text" placeholder="Username" class="form-control">
				<i class="zmdi zmdi-account"></i>
			</div>
			<div class="form-wrapper">
				<input type="text" placeholder="Email Address" class="form-control">
				<i class="zmdi zmdi-email"></i>
			</div>
			<div class="form-wrapper">
				<select name="" id="" class="form-control">
					<option value="" disabled selected>Gender</option>
					<option value="male">Male</option>
					<option value="femal">Female</option>
					<option value="other">Other</option>
				</select>
				<i class="zmdi zmdi-caret-down" style="font-size: 17px"></i>
			</div>
			<div class="form-wrapper">
				<input type="password" placeholder="Password" class="form-control">
				<i class="zmdi zmdi-lock"></i>
			</div>
			<div class="form-wrapper">
				<input type="password" placeholder="Confirm Password" class="form-control">
				<i class="zmdi zmdi-lock"></i>
			</div>
			<button>Sign Up
				<i class="zmdi zmdi-arrow-right"></i>
			</button>
		</form>
	</div>
</div>