<div class="wrapper" style="background-image: url('img/bg-registration-form-1.jpg');">
			<div class="inner">
				<div class="image-holder">
					<img src="img/registration-form-1.jpg" alt="">
				</div>
				<form action="">
					<h3>SIGN IN</h3>
					<div class="form-wrapper">
						<input type="text" placeholder="Username" class="form-control">
						<i class="zmdi zmdi-account"></i>
					</div>
					<div class="form-wrapper">
						<input type="password" placeholder="Password" class="form-control">
						<i class="zmdi zmdi-lock"></i>
					</div>
					<button>Sign In
						<i class="zmdi zmdi-arrow-right"></i>
					</button>
				</form>
			</div>
		</div>