.wrapper * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper body {
  font-family: "Montserrat";
  color: #333;
  font-size: 1px;
  margin: 0;
}
.wrapper input,
.wrapper textarea,
.wrapper select,
.wrapper button {
  font-family: "Montserrat";
  color: #333;
  font-size: 15px;
}
.wrapper p,
.wrapper h1,
.wrapper h2,
.wrapper h3,
.wrapper h4,
.wrapper h5,
.wrapper h6,
.wrapper ul {
  margin: 0;
}
.wrapper img {
  /* max-width: 100%; */
}
.wrapper ul {
  padding-left: 0;
  margin-bottom: 0;
}
.wrapper a:hover {
  text-decoration: none;
}
.wrapper :focus {
  outline: none;
}
.wrapper .wrapper {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
.wrapper .inner {
  padding: 10px;
  background: #fff;
  min-width: 850px;
  margin: auto;
  display: flex;
  justify-content: center;
}
.wrapper .inner .image-holder {
  /* width: 50%; */
}
.wrapper .inner form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-top: 36px;
  padding-left: 45px;
  padding-right: 45px;
}
.wrapper .inner h3 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 25px;
  font-family: "Montserrat";
  text-align: center;
  margin-bottom: 28px;
}

.wrapper .form-group {
  display: flex;
}

.wrapper .form-group input {
  width: 50%;
  box-shadow: none;
}

.wrapper .form-wrapper input {
  box-shadow: none;
}

.wrapper .form-group input:first-child {
  margin-right: 25px;
}
.wrapper .form-wrapper {
  position: relative;
}
.wrapper .form-wrapper i {
  position: absolute;
  bottom: 9px;
  right: 0;
}
.wrapper .form-control {
  border: 1px solid #333;
  border-top: none;
  border-right: none;
  border-left: none;
  display: block;
  width: 100%;
  height: 30px;
  padding: 0;
  margin-bottom: 25px;
}
.wrapper .form-control::-webkit-input-placeholder {
  font-size: 15px;
  color: #333;
  font-family: "Montserrat";
}
.wrapper .form-control::-moz-placeholder {
  font-size: 15px;
  color: #333;
  font-family: "Montserrat";
}
.wrapper .form-control:-ms-input-placeholder {
  font-size: 15px;
  color: #333;
  font-family: "Montserrat";
}
.wrapper .form-control:-moz-placeholder {
  font-size: 15px;
  color: #333;
  font-family: "Montserrat";
}
.wrapper select {
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  padding-left: 20px;
}
.wrapper select option[value=""][disabled] {
  display: none;
}
.wrapper button {
  border: none;
  width: 164px;
  height: 51px;
  margin-top: 20px;
  cursor: pointer;
  display: flex;
  align-self: center;
  justify-content: center;
  padding: 0;
  background: #333;
  font-size: 15px;
  color: #fff;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.wrapper button i {
  margin-left: 10px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.wrapper button:hover i,
.wrapper button:focus i,
.wrapper button:active i {
  -webkit-animation-name: hvr-icon-wobble-horizontal;
  animation-name: hvr-icon-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

#msg {
  display: none;
  color: red;
}

#msg::after {
  content: " !";
}

@-webkit-keyframes hvr-icon-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes hvr-icon-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@media (max-width: 1199px) {
  .wrapper .wrapper {
    background-position: right center;
  }
}
@media (max-width: 991px) {
  .wrapper .inner form {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 767px) {
  .wrapper .inner {
    min-width: unset;
    max-width: 850px;
    display: block;
  }
  .wrapper .inner .image-holder {
    width: 100%;
  }
  .wrapper .inner form {
    width: 100%;
    padding: 40px 0 30px;
  }
  .wrapper button {
    margin-top: 60px;
  }
}
